.container {
    display: flex;
    justify-content: center; 
    background-color: #FDE49E; 
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navItem {
    margin-right: 20px;
  }
  
  .button {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }
  
  .button div {
    display: flex;
    align-items: center;
    padding: 5px 5px; 
  }
  
  .button div:hover {
    background-color: #e9ecef; 
    border-radius: 4px; 
  }
  