* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

:root {
  --primary-color: #FFB235;
  --sc-color: #3C1E42;
  --card-color: #FFF0F0;
  --title-color: #3C1E42;
  --text-color: #1B1E28;
  --text-link-color: #A354B1;
  --btn-color: #FFB235;
  --sc-btn-color: #3C1E42;

  height: 100vh;
  font-size: 62.5%;
}


.country-card {
  padding: 16px;
  text-align: center;
  margin: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.country-card:hover {
  transform: scale(1.05);
}

.country-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 16px;
}

.country-card img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

.country-card span {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
}
