.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 43rem;
    height: 190px;
    border-radius: 0 0 40px 40px;
    background-color: var(--card-color);
    gap: 3rem;
}

.phase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text, .subtext {
    color: var(--primary-color);
    font-family: "League Spartan", sans-serif;
    font-size: 3.2rem;
    font-style: normal;
}