.loginCard {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom center;
  margin-top: 20px;
  width: 430px;
  height: 57vh;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.text {
  color: #3c1e42;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 27px;
}

.formInput {
  width: 335px;
  height: 30px;
  margin-bottom: 24px;
  padding: 16px;
  background-color: #f7f7f9;
  border: 1px solid #f7f7f9;
  border-radius: 14px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: black;
}

.loginSubmitButton {
  background-color: #ffb235;
  margin-top: 20px;
  width: 325px;
  height: 56px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 16px;
  color: #3c1e42;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.loginToggle {
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #3c1e42;
  margin-top: 17px;
}

.toggleLink {
  color: #a354b1;
  cursor: pointer;
  text-decoration: none;
}

.error {
  color: rgb(221, 2, 2);
  margin-top: 10px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}
