@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.cardPosts {
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
    margin-top: 3rem;
    gap: 2rem;
    font-family: "Inter", sans-serif;
    overflow: scroll;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smallTitle {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #7D848D;
    margin-left: 4rem;
}
.title {
    font-size: 1.8rem;
    color: var(--title-color);
    margin-left: 4rem;
}

.postContent {
    font-size: 1.4rem;
    line-height: 22.5px;
    margin: 1.2rem 4rem;
}

.date {
    color: #7D848D;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

.line {
    border: none;
    height: 1.5px;
    background-color: #F7F7F9;
}