.searchContainer {
  display: flex;
  width: 29.2rem;
  position: relative; 
}

.searchform {
  border: 1px solid;
  border-color: #e6e6e9;
  border-radius: 4rem;
  height: 41px;
  width: 100%;
  padding: 1.2rem 3.8rem 1.2rem 1.2rem; 
  background-color: #f7f7f9;
  color: #3c1e42;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url('/icon/SearchIcon'); 
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center; 
  background-size: 16px; 
}

.searchform::placeholder {
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
