.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.button {
  display: flex;
  align-items: center;
  height: 7.8rem;
  width: 33rem;
  background-color: #FFB235;
  color: black;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.text{
  font-size: 1.6rem;
  text-align: start;
  font-weight: 600;
  margin: 1.9rem 5.1rem 1.9rem 3rem;
}

.icon {
  height: 2rem;
  width: 2rem;
  margin: 3rem 3rem 3rem 0;
}