.body{
    width: wh;
}

.category-selector {
    margin: 20px 0;
  }
  
  .category-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .category-button {
    background-color: #FFF0F0;
    border: 10px solid #ccc;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .category-button:hover {
    background-color: #ddd;
  }
  
  .categoryButton{
    border-radius: 10px;
    width: 100px;
  }
  .categoryButton:hover{
    background-color: #FFB235;
  }